body {
  margin: 20px;
  padding: 30px;
  background-color: #748996;
}

.container {
  padding: 30px;
  margin-top: 20px;
  background-color: #D4D4D4
  padding-bottom: 30px;
  max-width: 850px;
  font-size: 16px;
}

.jumbotron {
  padding: 40px;
  margin-bottom: 25px;
}

.form-control {
  width: auto;
}

.class {
  background-color: #749692;
}
#result {
  font-size: 16px;
  background-color: #749681;

}

.btn {
  padding: 5px;
  margin: 5px;
}

.navbar-header {
  font-size: 18px;
}

#about {
  font-size: 16px;
}
